<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for (const listing of AllListings) { %>
    <% const isFavorite = favoriteIds.has(listing._id.toString()); %>
    <div class="col">
      <div class="card listing-card listing-card-shell">
        <div class="listing-media-wrapper">
          <% if (currUser) { %>
            <form
              action="/listings/<%= listing._id %>/favorite"
              method="POST"
              class="favorite-form"
            >
              <input type="hidden" name="redirectUrl" value="<%= currentPath %>">
              <button
                type="submit"
                class="favorite-btn <%= isFavorite ? 'active' : '' %>"
                aria-label="<%= isFavorite ? 'Remove from favorites' : 'Add to favorites' %>"
              >
                <i class="<%= isFavorite ? 'fa-solid' : 'fa-regular' %> fa-heart"></i>
              </button>
            </form>
          <% } else { %>
            <a
              href="/login"
              class="favorite-btn favorite-login-link"
              aria-label="Log in to add favorites"
              title="Log in to add favorites"
            >
              <i class="fa-regular fa-heart"></i>
            </a>
          <% } %>

          <a href="/listings/<%= listing._id %>" class="listing-links">
            <img src="<%= listing.image.url %>" class="card-img-top" style="height: 15rem;" alt="listing_image">
            <div class="card-img-overlay"></div>
          </a>
        </div>

        <div class="card-body">
          <a href="/listings/<%= listing._id %>" class="listing-links">
            <p class="card-text">
              <span class="index-title">
                <small><b><%= listing.title %></b></small>
              </span>
              <br>
              <span class="index-address">
                <small><%= listing.location %>, <%= listing.country %></small>
              </span>
              <br>
              <span class="index-price-row">
                <span class="index-price">
                  <small>
                    &#8377 <%= listing.price.toLocaleString("en-IN") %> / night
                    <i class="tax-info">  &nbsp; &nbsp; +18% GST </i>
                  </small>
                </span>
                <% if (listing.category) { %>
                  <span class="listing-category-badge">
                    <%= listing.category.split("-").map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(" ") %>
                  </span>
                <% } %>
              </span>
            </p>
          </a>
        </div>
      </div>
    </div>
  <% } %>
</div>
